---
namespace: jandiorio
name: ee_utilities
version: 1.1
description: A collection of utility roles for usage with Ansible Execution Enviroments
readme: README.md
authors:
    - Sean Sullivan @sean-m-sullivan
repository: https://github.com/jandiorio/ee_utilities
issues: https://github.com/jandiorio/ee_utilities/issues
build_ignore:
    - galaxy.yml.j2
    - release.yml
    - .github
license:
    - GPL-3.0-or-later
tags:
    - execution
    - enviroments
    - collection
    - utilities
    - utils
    - ee_utilities
    - ee_utils
dependencies: {}
